*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
background:#252122;


}

#menu2{
  top:0.5em;
  left: 40%;
  border-radius:50%;
    height: 5em;
    padding-top:1.6em;
    width: 5em ;
    background: #8c233f;
    position: relative;
    filter: drop-shadow(
-3px 11px 10px #000000
);
}
#p_menu{
  color:white;
  text-align:center;
  position: relative;
  font-size: 1em;
}

.pratos{
  margin: 0.5em 0.3em;
  background:  #f2dad8;
  border-radius: 0.8em;
  flex-direction: column;
  height: 10em;
  width: 9.5em;
  padding: 0 0.7em;
  
}
.p_prato2{
text-align: end;
  font-size: 11px;
}
.p_prato1{
  font-size: 11px;
}

.img_container2{
  height: 6em;
  width: 6em;
  left: 1.3em;
  border-radius:0.5em;
  margin: 0.5em 0;
  position: relative;
}

.containe2{
  position: relative;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  display: flex;
width: 90%;
margin-left: 0.8em;
top: 5em;
overflow: hidden;
}
#entrada, #acompanhamento, #principal, #bebidas, #sobremesa{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: start;
  margin: 0 5.5px;

}

footer{
    flex-direction: row;
    display: flex;
    
   
}
#valor{
  position: fixed;
  flex-direction: row;
  display: flex;
  left:46%;
  top: 90.5%;
  padding-top: 0.4em;
  height: 2.2em;
  width:6em;
  background: #d2cdcf;
  border-radius:6px 0 0 6px;
}
.p_valor{
  margin: 0.2em;
  text-align: center;
}
button#butao{
  left:70%;

}
button#butao_voltar{
  left:2%;
}
button{
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
 
  top: 90%;
  height: 3em;
  width:6.5em;
  background: #8c233f;
  padding-left: 0.2em;
  color:white;
  border-radius:7px;
  cursor: pointer;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease;
}
button:hover{
  background: #181818;
  color: #fff;
}

/*sacola de compras*/
#sacola{
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em 0 0.7em 0.2em;
  position: relative;
}
.pedidos{
  display: flex;
  margin: 0.5em 1em;
  background:  #f2dad8;
  border-radius: 0.8em;
  flex-direction: row;
  height: 11em;
  width: 24em;
  padding: 1em 0.7em;
  filter: drop-shadow(
-3px 11px 10px #000000
);
}
.img_pedido{
  height: 6em;
  width: 7em;
  border-radius:0.5em;
  margin: 0.5em 0.5em;
  position: relative;
  grid-area: a;
}
#desconto, .div_porcao{
  display:flex;
  flex-direction:row;
}
#porcao{
  height: 1.5em;
  width: 2.5em;
}
#obs{
  height: 1.5em;
  width: 10em;
}
.p_pedido1, .p_pedidop2{
  margin-bottom: 0.5em;
}
