*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background:#252122;
}
#menu{
  left: 27em;
  border: 2px solid #252122;
  border-radius:50%;
    height: 5em;
    padding-top:2em;
    width: 5em ;
    background: red;
    position: relative;
}
#p_menu{
  color:white;
  text-align:center;
  position: relative;
  font-size: 1em;
}

.img_icone{
  height: 4em;
  width: 4em;
}

.pratos{
  margin: 0.5em 1em;
  border: 2px solid #252122;
}
#container3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30em;
  border: 2px solid #252122;
  position: relative;
}
#logo {
  width: 10em;
  height: 5em;
  left: 45%;
  position: relative;
  top:1em;
}
.img_container2{
  height: 12em;
  width: 12em;
}
.pratos{
  flex-direction: column;
  display: flexf;
  background: white;
  height: 17em;
  width: 18em;
  margin: 4em;
}