*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
a:link{
  text-decoration: none;
}
a{
  color:white;
}
.container {
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container1 {
  margin-right: 5px;
  width: 370px;
  height:38em;
  border-radius: 7px;
  box-shadow: 0px 0px 8px 2px #989898;
  background: no-repeat url(../fundos/fundo_cadastro.png);
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:#181818;
}
.container2{
  height:35em;
  width: 330px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 50px 35px 10px 35px;

}
.container2 .form-outer{
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  height: 35px;
  width: 330px;
  margin: 35px 0;
  display: flex;
  position: relative;
}
.form-outer form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
}
.form-outer form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.form-outer form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  margin-top: -20px;
  border: none;
  background: #8c233f;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease;
  color:white;
}

form .page .field section{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
.form-outer form .page .field button:hover{
  background: #181818;
}
.form-outer form .page .btns button{
  margin-top: -20px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container2 .progress-bar{
  display: flex;
  margin: 25px 0;
}
.container2 .progress-bar .step{
  position: relative;
  text-align: center;
  width: 100%;
}
.container2 .progress-bar .step p{
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 8px;
}
.container2 .progress-bar .step .bullet.active p{
  color: rgb(110, 199, 83);
}
.progress-bar .step .bullet{
  position: relative;
  height: 30px;
  width: 30px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  transition: 0.4s ease;
}
.progress-bar .step .bullet.active{
  border-color: #8c233f;
}
.progress-bar .step:last-child .bullet:before,
 .progress-bar .step:last-child .bullet:after{
   display: none;
 }
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -80px;
  height: 3px;
  width: 75px;
  background: #262626;
}
.progress-bar .step .bullet.active:after{
background:  #8c233f;
animation: animate 0.3s linear forwards;
transform: scaleX(0);
transform-origin: left;
}
@keyframes animate {
100%{
  transform: scaleX(1);
}
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet span{
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .check.active{
  display: block;
  
}
#p_step1.active, #p_step2.active, #p_step3.active{
  color: #8c233f;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
  color: #8c233f;
}
.check_img{
  margin: 0.1em 0 0 0.1em;
  width: 20px;
  height: 20px;
}
/* img*/

.image {
  top:-1em;
left: 7em;
  width: 90px;
  height: 90px;
  position: relative;
}
.image:hover .editar-content {

  opacity: 1;
}
.image img {

  width: 90px;
  border-radius: 100%;

}
.close-preview {
  font-size: 9px;
  position: absolute;
  right: -15px;
  top: -2px;
  background-color: #000;
  line-height: 15px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

#new {

  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  z-index: 2;
  display: none;
  background-position: center center;
}

.editar-content {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  display: table;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.editar-content span {
  width: 100%;
  text-align: center;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.editar-content i {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 2px 5px;
  text-transform: uppercase;
  font-size: 10px;
  border: 1px solid #fff;
  font-style: normal;
}

#aux{
  top:-2em;
}
.aux{
  position: relative;
  top:-1.7em;
}
.modal-content_aux {
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 80%;
  max-width: 13.5em;
  background-color: #eee;
  padding: 0px;
  box-shadow: 0 0 2px #fff;
}