* {
  border: 0;
  padding: 0;
}

body {
  text-align: center;
}

.container {
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container1 {
  margin-right: 5px;
  width: 400px;
  height: 485px;

  border-radius: 7px;
  box-shadow: 0px 0px 8px 2px #989898;

  background: no-repeat url(../fundos/fundo_cadastro.png);
}

.container2 {
  font-size: 1em;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background: #DCDCDC;
  padding: 9px;
  border-radius: 7px;
  box-shadow: 0px 0px 8px 2px #989898;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 448px;
  display: inline-block;
}

div .avatar {
  border-radius: 50%;
  border-color: black;
}

#botao {
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 10px;
  margin-top: 10px;

  width: 30vw;
  height: 3vh;
  left: 50px;
  top: 24em;

  background: #C0210B;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}