*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #181818;
}
.container{
  width: 330px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 50px 35px 10px 35px;
 
}
/**/
.container .form-outer{
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  height: 35px;
  width: 330px;
  margin: 35px 0;
  display: flex;
  position: relative;
}
.form-outer form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
}
.form-outer form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.form-outer form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  margin-top: -20px;
  border: none;
  background: #8c233f;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease;
  color:white;
}

form .page .field section{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
.form-outer form .page .field button:hover{
  background: #181818;
}
.form-outer form .page .btns button{
  margin-top: -20px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  margin: 25px 0;
}
.container .progress-bar .step{
  position: relative;
  text-align: center;
  width: 100%;
}
.container .progress-bar .step p{
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 8px;
}
.container .progress-bar .step .bullet.active p{
  color: rgb(110, 199, 83);
}
.progress-bar .step .bullet{
  position: relative;
  height: 30px;
  width: 30px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  transition: 0.4s ease;
  
}
.progress-bar .step .bullet.active{
  border-color: #8c233f;
}
.progress-bar .step:last-child .bullet:before,
 .progress-bar .step:last-child .bullet:after{
   display: none;
 }
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -80px;
  height: 3px;
  width: 75px;
  background: #262626;
}
.progress-bar .step .bullet.active:after{
background:  #8c233f;
animation: animate 0.3s linear forwards;
transform: scaleX(0);
transform-origin: left;
}
@keyframes animate {
100%{
  transform: scaleX(1);
}
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet span{
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .check.active{
  display: block;
  
}
#p_step1.active, #p_step2.active, #p_step3.active{
  color: #8c233f;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
  color: #8c233f;
}
.check_img {
  margin: 0.1em 0 0 0.1em;
  width: 20px;
  height: 20px;
}
/* os pedidos */
.ContainerPedido {
  height: 70%;
   display: flex;
   flex-direction: column;
   width: 20.5em;
   position: relative;
   top:0.5em;
   margin-left: 0.5em;
 }

 #sub_pedidos{
   width: 19.5em;
   height:2.5em;
   
   color: white;
   background:  #8c233f;
   position:relative;
   flex-direction: row;
   justify-content: space-around;
   display: flex;
   margin-right:0.5em;
   border-radius:5px;
   padding-top: 0.3em;
 }
 #pedidos{
 /* border: 1px solid #8c233f;*/
   
   overflow-y: scroll;
   
   position: relative;
   flex-direction: column;
   width: 19.9em;
   margin: 0.5em 0 0.5em 0;
   height: 19em;
 }
 /*pedidos*/
 #sacola{
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em 0 0.7em 0.2em;
  position: relative;
}
.pratos{
  display: flex;
padding: 0.5em 0.4em;
  background:  #f2dad8;
  border-radius: 0.8em;
  flex-direction: row;
  height: 8.8em;
  width: 19.1em;
  margin:0.6em 0;
}
.img_pedido{
  height: 5em;
  width: 6em;
  border-radius:0.5em;
  margin: 0.5em 0.5em;
  position: relative;
  grid-area: a;
}
#porcao{
  height: 1.5em;
  width: 2.5em;
}
#obs{
  height: 1.5em;
  width: 8em;
  margin: 0.3em;
}
.p_pedido1, .p_pedido2{
  margin: 0.3em 0;
  font-size: 12px;
  font-weight: 400;
  text-align:start;
  margin-top:0.7em;
}
.p_total1, .p_total2{
  margin: 0.3em 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top:0.7em;
}
.p_pedidop2{
  color: #CC4444;
}
.lixeira{
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0.5em;
  left: 48%;
}
