*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body {
  background-color: #252122;
}

#img_sacola {
  width: 5em;
  height: 5em;
}

#sacola {
  width: 80px;
  height: 90px;
  top: 50px;
  
  background: #252122;
}

#texto {
  position: relative;
  font-family: Rockwell;
  font-size: 15px;
  bottom: 50px;
  left: 3px;
  text-align: center;
  color: #F4F4F4;
}

#insta {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 2em 5px 0 5px;
}

#face {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 2em 5px 0 5px;
}

#wzap {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 2em 5px 0 5px;
   } 
#nave{
  height: 7em;
  padding: 20px 10px 10px 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100
}

#contato {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.menu {
  
  width: 70px;
  height: 70px;
  background: lightgray;
}

#logo {
  width: 150px;
  height: 5em;
  margin: 10em;
}

.propaganda {
  background: #fff;
  width: 100%;
  height: 15em;
  position: relative;
  padding-top: 1em;
}

#scroll {
  width: 80%;
  max-width: 500px;
  height: 25vw;
  max-height: 150px;
  position: relative;
  text-align: center;
}

#scroll img {
  opacity: 0;
  position: absolute;
  width: 40vw;
  height: 13em;
  margin-top: 6px;
  object-fit: cover;
  transition: opacity 800ms;
}

#scroll img.selected {
  opacity: 1;
}

.prato{
  padding: 3em 3em 4em 3em;
  width: 100%;
  height: 75em;
  position: relative;
  display: flex;
  flex-direction: column;
}

.img {
  grid-area: a;
  position: relative;
  width: 160px;
  height: 120px;
  border-radius: 0.2em;
}
h4{
   grid-area: b;
   font-family: 'Dancing Script', cursive;
font-weight: bold;
font-size: 1.5em;
color: #BF935E;
position: relative;
bottom: 0.5em;
top: 0.2em;
}


#p1 {

  color: #F4F4F4;
  position: relative;
  grid-area: c;
  text-align: justify;
  bottom: 3.5em;
  margin-right: 1.3em;
}

#entrada, #principal, #sobremesa {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-areas:
    "a b"
    "a c";
  width: 35em;
  
  padding: 5px;
  height: 15vh;
}

#acompanhamento, #bebidas {
  display: grid;
  grid-template-columns: 20em 1fr;
  grid-template-areas:
    "b a"
    "c a";
  width: 25em;
  padding: 5px;
  height: 15vh;
  margin-left: 23em;
}

video {
  width: 25vw;
  height: 17vh;
  position: relative;
}

h3 {
  font-family: 'Dancing Script', cursive;
  position: relative;
  top: 5em;
  font-size: 2rem;
  text-align: center;
  right: 4em;
}

#tutorial {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 100%;
  justify-content: center;
  background: #fff;
  
}

#linha2 {
  height: 10px;
  background: #BF935E;
  width: 80%;
  position: relative;
  display: flex;
  border-radius: 17px;
  left: 7em;
  top: 0.2em;

}

footer {
  height: 10vh;
  width: 50%;
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
  margin-left: 12em;
}

#p_footer {
  color: #BF935E;
  font-size: 1em;
  position: relative;
  top: 3em;
}

.img_footer {
  height: 3vh;
  width: 6vw;
  margin:2em 0.5em 0 0.5em;
}