     *{
       border:0;
       padding: 0;
     }
     
     body{
      text-align: center;
    
     }
     
#linha{
  margin: 10px;
}
     #titulo,#linha{
      text-align: center;
      color: black;
     }
      
    input{
      border-radius: 5px;
      padding: 9px;
      margin-top: 9px;
    
      }
      
    input:focus{
       box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  background-color: none;
      }
    
    #botao{
     justify-content: center;
     text-align: center;
     color:#fff;
     padding: 10px;
     margin-top: 10px;
     width: 18em;
     height: 3em;
    left: 50px;
    top: 24em;
    font-size: 18px;
background: #9E0705;
box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
    }
  
    #botao:hover{
background: #4d0706;
    }
    p{
      
     text-align:justify;
     margin: 20px 0 0 7px;
    }
    p,a{
      text-decoration: none;
      color:black;
    }
    p,a:hover{
      color: #413f3f ;
    }
    .container1{
      font-size: 1em;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      
      padding:9px;
      border-radius: 7px;
      
      padding : 20px;
      justify-content: center;
      align-items: center;
      height: 448px;
      }
    .container{
      flex-direction: row;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    .div_input{
      flex-direction: row;

       width: 328px;
     height: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #5c5b5b;
    
    }
    .img1{
   position: relative;
   width: 30px;
   height: 30px;
   right: 35px;
   top: 10px;

    }
   .img2{
     position: relative;
     width: 30px;
     height: 30px;
     top: 10px; 
    }
    .img4{
      margin-left: 2em;
    }
    .olhos {
      position: relative;
      width: 30px;
      height: 30px;
      top: 10px;
      left: -1em;
    }
    .container2{
margin-left: 5px;
width: 400px;
height: 485px;

      border-radius: 7px;
      box-shadow: 0px 0px 8px 2px #989898;
     
       background: no-repeat url(../fundos/fundo_login.png);
      }
#titulo{
 /* font-family: 'Tangerine', serif;*/
  font-family: 'Lora', serif;
  font-size: 46px;
  text-shadow: 4px 4px 4px #aaa;
  letter-spacing: 2px;
  color: #f35626;
  background-image: linear-gradient(45deg, #f05161, #d960a0, #ca6acc, #c279f2, #599fe7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: 10s infinite linear;
}
