body {
  font: normal 20pt Arial;
  background-image: url("../Fundos/fundo_dinheiro.png");
  width: auto;
  height: auto;
}

#bloco {
  background: #F2AA96;
  color: black;
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
  width: 350px;
  height: 200px;
  line-height: 100px;
  text-align: center;
}

input {
  background: #C69587;
  border-color: black;
}

#msg {
  position: absolute;
  background: fff;
  width: 300px;
  height: 100px;
  margin-top: 18px;
  text-align: center;
  border-radius: 30px;
  font-size: 15pt;
}