
* {
  padding:0;
  margin:0;
}
body{
      font-size: 18pt;
      background-color: #252122;
      
      align-content: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      
    }
    
    .hidden{
      display: none;
      text-align: justify;
      position: relative;
      background: whitesmoke;
      font-size: 14px;
      font-weight: 400;
      height: 8.5em;
      width: 13em;
      border-radius: 1em;
      
    }
    
    .bloco{
      color:black;
      left: 2em;
      position: relative;
      top:-2em;
    }
    
    input[type=button]{
      border: none;
      margin-top: 15px;
      display: block;
      background: whitesmoke;
      border-radius: 9px;
      color:#181818;
    
      font-size:15px;
      height:2.5em;
      width: 15em;
    }
    
#logo {
  width: 4em;
  margin-top: 25px;
  left: 2.3em;
  position: relative;
}
    div{
      top: 5px;
      padding: 20px;
    }
    #txt6,a{
     text-decoration: none;
    
    }
    
    figure{
      top: -2em;
      background:white;
      width: 10em;
      height: 10em;
      text-align: center;
      position: relative;
      justify-content: center;
      left: 2.5em;
      border-radius: 0.5em;
    }
    figure:hover{
      transition: 0.3s ease-in-out;
transform: scale(1.2);
    }
    
    iframe{
      
      position: relative;
      width: 9em;
      height: 7.5em;
      right: 0.3em;
    }
    strong{
      
      position: relative;
      top: 0.3em;
      font-size: 19px;
      font-family: 'Dancing Script', cursive;
      border-bottom: 1px solid black;
    }
    #butao{
      width: 6em;
      height: 2em;
      top: -2em;
      border: none;
      background: #8c233f;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      
      text-transform: uppercase;
      transition: 0.3s ease;
      color:white;
      position: relative;
      
    }
    #butao:hover{
      background: #181818;
    }
    #butao a{
      color: #fff;
    }
    .img_contato{
     color:#000;
      position: relative;
      width: 20px;
    }
    #txt6 a{
      color: #000;
    }
    #menu2{
  top:-1.9em;
  left: 2em;
    height: 0.6em;
    width: 0.5em;
    border-bottom: 2px solid  #8c233f;
    border-left: 2px solid  #8c233f;
    position: relative;
    
    filter: drop-shadow(
-3px 11px 10px #000000
);
}
#menu3{
  top:0.5em;
  left: 4.5em;
    height: 0.7em;
    width: 0.5em;
    border-top: 2px solid  #8c233f;
    border-right: 2px solid  #8c233f;
    position: absolute;
    filter: drop-shadow(
-3px 11px 10px #000000
);
}
.circulo{
  border: 2px #8c233f;
  border-style: dashed;
  height: 7em;
  width: 7em;
  position: absolute;
  left: 80%;
  top:-4em;
  
  transform: rotate(51deg);
}
.circulo2{
  border: 2px #8c233f;
  border-style: dashed;
  height: 8em;
  width: 8em;
  position: absolute;
  left: 88%;
  top: -2em;

  transform: rotate(70deg);
}