
* {
  padding:0;
  margin:0;
}
body{
      font-size: 18pt;
      background: no-repeat url(../fundos/fundo_quem_somos.png) center top fixed;
      background-size: cover;
      align-content: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      
    }
    
    .hidden{
      display: none;
      text-align: justify;
      position: relative;
      background: #831d1c;
      font-size: 14px;
      font-weight: 400;
      height: 8.5em;
      width: 13em;
      border-radius: 1em;
    }
    
    .bloco{
      color:white;
      left: 2em;
      position: relative;
    }
    
    input[type=button]{
      border: none;
      margin-top: 15px;
      display: block;
      background:#831d1c;
      border-radius: 9px;
      color:white;
      font-size: 18pt;
      font-size:15px;
      height:2.5em;
      width: 15em;
    }
    
    #voltar{
      height:30px;
      width: 30px;
      border: none;
      border-radius: 50%;
      background:white;
      
    }
    #img_voltar{
      height:30px;
     width: 30px;
    }
    div{
      top: 5px;
      padding: 20px;
    }
    #txt6,a{
     text-decoration: none;
    
    }
    
    figure{
      top: 1.3em;
      background:white;
      width: 10em;
      height: 10em;
      text-align: center;
      position: relative;
      justify-content: center;
      left: 2.5em;
      border-radius: 0.5em;
    }
    figure:hover{
      transition: 0.3s ease;
transform: scale(1.2);
    }
    
    iframe{
      
      position: relative;
      width: 9em;
      height: 7.5em;
      right: 0.3em;
    }
    strong{
      
      position: relative;
      top: 0.3em;
      font-size: 19px;
      font-family: 'Dancing Script', cursive;
      border-bottom: 1px solid white;
    }