body{
  background: no-repeat url(../fundos/cadastro.jpg) fixed;
  background-size: cover;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
a:link{
  text-decoration: none;
}
a:hover{
  color:#fff;
}
a{
  color: #fff;
}
a #p_sair{
  color:#000;
}
*{
  padding: 0;
  margin: 0;
}
.master{
  background:#f1ede8;
  width: 18em;
  height: 27em;
  position: relative;
border-radius: 1em;
top: 7em;
left: 12%;
}
.informacao{
  border-bottom:1px solid gray;
  margin:1em 1em;
  flex-direction: column;
}
.juntar_informacao{
  flex-direction: row;
  display: flex;
  
}
.p1, .p2{
  font-size: 14px;
}
.p1{
  font-weight: 500;
}
#butao_excluir:hover, #butao_alterar:hover, #voltar:hover{
  background: #161616;
  color:white;
}
#butao_excluir, #butao_alterar{
  width: 40%;
  height: 2em;
  margin: 0.1em 0.9em;
  border: none;
  background: #8c233f;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease;
  color:white;
}
#butao{
  flex-direction: row;
  display: flex;
  justify-content: center;
  
}
footer{
  display: flex;
  position: relative;
  top:8em;
  left: 0.5em;
  width: 100%;
}
#voltar{
    width: 5em;
    height: 2.5em;
    border: none;
    background: #8c233f;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s ease;
    color:white;
}
#sair_sessao{
  background: #e1dcd6;
  height: 2em;
  width: 8.7em;
  margin-left: 9em;
  position: relative;
  top: 1.3em;
  padding-top: 0.4em;
  border-radius: 4px;
}
#p_sair{
 text-align: center;
}
#sair_sessao:hover{
  background: #6f6f6f;
  color:white;
}
.image{
  border: 1px solid gray;
  position: fixed;
  display: flex;
  height: 75px;
  width: 75px;
  top:0.6em;
  left: 2.3em;
  border-radius: 50%;
}
.image:hover{
      transition: 0.3s ease;
transform: scale(1.2);
    }
.image img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}